*{box-sizing:  border-box;}

h1{
    font-family: Arial;
    font-size: 30;
    font-style: normal;
    font-weight: bold;
    color: rgb(14, 43, 209);
    text-align: center;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    text-align: center;
}

.container{
    border-radius: 100px;
    border: 5px solid pink;
    background-color:#88ccf3;
    padding: 80px;
    width: 700px;
    height: 1600px;
    margin: auto;
    text-align: center;
}
.col-10{
    float: left;
    width:90%;
    margin-top: 6px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .col-10{
        width: 100%;
        margin-top: 0;
    }
}